<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} [txId=%X{transactionId}] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">  <!-- Change this to "debug" if you need more details -->
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Log specific packages -->
        <Logger name="com.yourpackage" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
